.header{
padding: 10px;;
background-color: red;
}
.footer{
    padding: 10px;
    background-color: rgb(11, 130, 234);
}
.main-conten{
    padding: 10px;
    background-color: blueviolet;
    }
    .sidebar{
        padding: 10px;
        background-color: aquamarine;
    }
    .twin{
padding: 10px;
background-color: pink;
    }
    .twin{
      padding: 10px;
      background-color: brown;  
        }