
.menu {
    display: flex;
    background-color: rgb(239, 34, 34);
    justify-content: space-between;
}

.menu-item {
    background-color: rgb(236, 255, 127);
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #0a99e7;
}

.no-border {
    border: 0px;
}

.menu-item:hover {
    background-color: rgb(16, 198, 244);
}
